.table {
  width: 100%;
  border-spacing: 0 30px;
  position: relative;
}

/*  Table Layout */
.table > thead {
  background-color: var(--bg-dark);
  position: sticky;
  top: 0;
  z-index: 99;
}

.table th:nth-child(1) {
  width: 220px;
}

.table th:last-child {
  width: 40px;
}

.table th + th,
.table td + td {
  padding-left: 60px;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  padding-left: 14px;
}

.table th:last-child,
.table td:last-child {
  padding-right: 14px;
}

.table td:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

.table td:last-child {
  border-radius: 0 10px 10px 0;
}

.table td {
  background-color: var(--bg-light);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Table Header */
.table th > div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  font-size: 18px;
  font-weight: 700;
}
