.table {
  width: 100%;
  position: relative;
}

.table__head {
  display: grid;
  grid-template-columns: 220px 1fr 60px;

  padding: 30px 0;

  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--bg-dark);
}

.table__head > div {
  grid-column: 2/3;
  display: flex;
}

.header {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  font-size: 18px;
  font-weight: 700;
}

.table__body {
  list-style: none;
}

@media screen and (max-width: 840px) {
  .table__head {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .table__head > div {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 660px) {
  .table__head > div {
    gap: 30px;
  }

  .header {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    flex-flow: column nowrap;
    font-size: 14px;
  }
}
