.alert {
  width: 40px;
  height: 40px;
}

.alert > :global(.CustomButton) {
  background-color: var(--primary-green);
}

.alert > :global(.CustomButton):focus,
.alert > :global(.CustomButton):focus-visible,
.alert > :global(.CustomButton):hover {
  background-color: var(--accent-pink);
}
