/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Variables */
:root {
  --bg-300: #323a43;
  --bg-500: #1c232c;
  --bg-light: #1f2731;
  --bg-dark: #101317;
  --text: #ffffff;
  --text-light: #bdbdbe;

  --primary-green: #37f6c9;
  --primary-red: #cc3838;

  --accent-green: #80d18d;
  --accent-blue: #03c6fc;
  --accent-pink: #f45d85;
  --accent-yellow: #f5cb0f;

  --shadow: 2px 3px 42px rgba(0, 0, 0, 0.5);

  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-light);
  color: var(--text);
}
