.workout {
  display: flex;
  align-items: stretch;
  justify-content: center;
  column-gap: 16px;
}

.workout__info {
  display: grid;
  place-items: center;
}

.workout__info > span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;

  font-weight: 600;
  font-size: 14px;
}

.workout__btn {
  width: 30px;
  min-height: 60px;
}

.workout__btn--feedback :global(.CustomLink) {
  background-color: var(--primary-red);
}

.workout__btn--feedback :global(.CustomLink):focus,
.workout__btn--feedback :global(.CustomLink):focus-visible,
.workout__btn--feedback :global(.CustomLink):hover {
  background-color: var(--accent-pink);
}
